<!-- Footer Wrapper -->
			<div id="footer-wrapper">

				<!-- Footer -->
					<div id="footer" class="container">
						<header>
							<h2>Questions or comments? <strong>Get in touch:</strong></h2>
						</header>
						<div class="row">
							<div class="col-md-6">
								<ul class="list-unstyled">
									<li class="fa fa-home">
												10 York Street<br />
												Hanover, PA 17331<br />
												USA
											</li><br/>
											<li class="fa fa-phone">
												(917) 334-8190
											</li><br />
								</ul>
								
							</div>
							<div class="col-md-6">
								<section>
									
									
										<ul class="list-unstyled">
											<li class="fa fa-envelope">
												<a href="#">bucket@stonewellstudio.com</a>
											</li><br />
											<li class="fa fa-facebook">
												<a href="#">facebook.com/stonewellstudio</a>
											</li><br />
											<li class="fa fa-pinterest">
												<a href="http://pinterest.com/stonewellstudio">pinterest.com/stonewellstudio</a>
											</li>
											
										</ul>
									
								</section>
							</div>
						</div>
					</div>

				<!-- Copyright -->
					<div id="copyright" class="container">
						<ul class="links">
							
						</ul>
					</div>
					
					<script>
						
					</script>

			</div>