	<div class="container">
	<div class="row">
	<!-- Nav -->
		<nav class="navbar navbar-default" role="navigation">
			
			<div class="container-fluid">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#stonewell-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					</button>
				</div>

				<div class="collapse navbar-collapse" id="stonewell-navbar-collapse-1">
					<div class="header-center">
					<ul class="nav navbar-nav">
						
						<li class="active">
							<a href="/welcome/index" class="fa fa-heart"><span class="menu-label">Home</span></a>
						</li>
						<li class="dropdown">
							<a href="#" class= "dropdown-toggle fa fa-star" data-toggle="dropdown"><span class="menu-label">Services</span> <b class="caret"></b></a>
								<ul class="dropdown-menu">
									<li>
										<a href="/welcome/services" class="fa fa-female"><span class="subnav">Custom</span></a>
									</li>
									<li>
										<a href="#" class="fa fa-suitcase"><span class="subnav">Wholesale</span></a>
									</li>
								</ul>
						</li>
						<li>
							<a class="fa fa-star" href="/welcome/inventory"><span class="menu-label">Current Inventory</span></a>
						</li>
						<li>
							<a class="fa fa-star" href="right-sidebar.html"><span class="menu-label">About Us</span></a>
						</li>
						<li>
							<a class="fa fa-star" href="/welcome/gallery"><span class="menu-label">Gallery</span></a>
						</li>
						
					</ul>
					</div>
				</div>

			</div>
		</nav>

</div>
	</div>
<!-- Header Wrapper -->

<div class="container logo-wrapper">

<!-- Header -->
<div class="row">
		<div class="col-md-12 header-logo">
	<!-- Logo -->
			<%= image_tag("LogoInColor.gif", alt: "", class: "img-responsive header-logo") %>
		</div>
	</div>
</div>
