<div class="container">
	<div id="michelle-bio" class="row">
		<div class="col-md-12">
			<div class="col-md-6">
				<p><small>
					Michelle Li Murphy's journey into the silk textile trade began in 1990 when she started working with her father, 
					Michael. They worked out of a small storefront in Seattle, WA where they produced scarves to sell at local street fairs.
					 They got 'discovered' by a large menswear company that hired them to design and produce hand-dyed silk textiles for the neck
					  wear division. By the end of 2007, Murphy Artisan Ties had grown into an independant company that was selling neckties
					   and scarves to over 250 wholesale accounts nationwide.
				</small></p>
				<p><small>
					After 17 years in the tie business, Michelle decided it was time to focus on her own artistic skills and try her hand at
					 fashion design. She worked out of her Brooklyn studio where she sold her first custom garments under the BARBARIANHEAD label.
					  She sculpted the first works using her own silk textiles, intuitive draping and ingenuity.
				</small></p>
				<p><small>
					She has since honed her sewing skills by taking Industrial Pattern Making classes at FIT in New York, and European Pattern Making
					 and Advance Couture Techniques at The Maryland Center for Fashion Design. It was an honor for her to work with the talented
					  couturier, <a href="http://www.ellapritsker.com">Ella Pritsker</a>, of Ella Moda Designs in Baltimore, Maryland.
				</small></p>
				<p><small>
					"My made to measure dresses are made from hand painted silks that are often illustrated with talismans, colors
						 and designs that are intended to sustain and elevate the spirit of the person wearing it. My silks are embedded with
						  an artistry and depth of feeling that is personal and sacred."</q> 
				</small></p>		  
				
			</div>
			<div class="col-md-6">
				<%= image_tag "michelle.jpg", class: "img-responsive center-block", alt: "" %>
			</div>
			
		</div>
	</div>
	<div id="pete-bio" class="row">
		<div class="col-md-12">
			<div class="col-md-6">
				<%= image_tag "pete.jpg", class: "img-responsive center-block", alt: "" %>
			</div>
			<div class="col-md-6">
				<p><small>
					Peter Francisco Balanesi grew up in Hanover, PA and then joined the US Navy shortly after graduating high school.
					 After 7 years of service, Peter's talents were recognized by Intel and Micron where he began his career in a 
					  semiconductor facility in Lehi, Utah. He thereafter transitioned to L-3 Communications where he worked as a
					   technical engineer doing systems tests and integration for military drone planes. All the while, he was living
					    a secret life by taking fine art classes full-time at the University of Utah in pursuit of his long held dream
					     of becoming a professional artist.
				</small></p>
				<p><small>
					In late 2011, Peter returned to his hometown of Hanover to raise his three children. It was here that he began
					 to look for another artist to collaborate with. Through the magic and serendipity of Craig's List, he found
					  Michelle. She hired him as a shop assistant and web developer, she taught him how to paint silk. He quickly
					   realized that this was a medium that he loved and he began his apprenticeship. By joining their creative and
					    technical skill sets, they have a growing business partnership and a productive wholesale and retail art studio
					     in the heart of Hanover, PA.
				</small></p>
			</div>
		</div>
	</div>
	<div id="shop-bio" class="row">
		<div class="col-md-12">
			<div class="col-md-6">
				<p><small>
					We moved into Stonewell Studio's in the summer of 2013, located at 10 York Street, Hanover PA. We are in full production
					 getting silk sheets stretched, paint brushes dripping and outfits dirty. We paint for a steady production of one of a kind
					  scarves, tunics, and kimono capes. 
				</small></p>
			</div>
			<div class="col-md-6">
				<%= image_tag "storefront.jpg", class: "img-responsive center-block", alt: "" %>
			</div>
		</div>
	</div>
</div>
