

<div class="container">
	<div class="row">
  			
  		<div class="col-md-9">
  			
  			<h2><span class="center-block margin-center">2014 Collection</span></h2>
  			
  			<div id="tunic-chunk" class="collection-chunk">
  				<h2>Tunics</h2>
  			<% @tunics.each do |tunic| %>
  				<div class="row sw-articles">
  					<div class="col-md-6">
  						<%= image_tag tunic.imageUrl1, class: "img-responsive center-block image-inv", :alt => "" %>
  					</div>
  					<div class="col-md-6">
  						<%= image_tag tunic.imageUrl2, class: "img-responsive center-block image-inv", :alt => "" %>
  						<%= link_to 'more info..', controller: "welcome", action: "showitem", id: tunic %>
  					
  					</div>
  				</div>
  				
  			<% end %>	
  			</div>
  			
  			
  			
  		</div>
  		
  		<div class="col-md-3 hidden-sm">
  			
  			<div class="inventory-menu inv-hide">
				<ul class="list-unstyled">
					<li><a href="#" id="backtotop" class="fa fa-arrow-up">Back to Top</a></li>
					<li><a href="#" id="toTunics" class="fa fa-star">Tunics</a></li>
					<li class="sidemenuupperbar">
						<a href="/welcome/index" class="fa fa-heart"><span class="menu-label">Home</span></a>
					</li>
					<li class="dropdown">
						<a href="#" class= "dropdown-toggle fa fa-star" data-toggle="dropdown"><span class="menu-label">Services</span> <b class="caret"></b></a>
							<ul class="dropdown-menu">
								<li>
									<a href="/welcome/services" class="fa fa-star-o"><span class="subnav">Custom</span></a>
								</li>
								<li>
									<a href="#" class="fa fa-star-o"><span class="subnav">Wholesale</span></a>
								</li>
							</ul>
					</li>
					<li class="dropdown">
							<a class="dropdown-toggle fa fa-star" href="#" data-toggle="dropdown"><span class="menu-label">Collection</span><b class="caret"></b></a>
							<ul class="dropdown-menu">
								<li>
									<a href="/welcome/collection2014" class="fa fa-star-o"><span class="subnav">2014 Collection</span></a>	
								</li>
								<li>
									<a href="/welcome/collection2013" class="fa fa-star-o"><span class="subnav">2013 Collection</span></a>	
								</li>
								
							</ul>
						</li>
						<li>
							<a class="fa fa-star" href="right-sidebar.html"><span class="menu-label">About Us</span></a>
						</li>
						<li>
							<a class="fa fa-star" href="/welcome/gallery"><span class="menu-label">Gallery</span></a>
						</li>
	</ul>
	</div>
  </div>
  
  
	</div>
</div>

<script>
	
	$.fn.scrollBottom = function() { 
  	return $(document).height() - this.scrollTop() - this.height(); 
	};
	
	$("document").ready(function($){
		var nav = $('.inventory-menu');
		
		$(window).scroll(function(){
			if ($(this).scrollTop() > 400 && $(this).scrollBottom() > 50){
				nav.fadeIn('slow');
			} else {
				nav.fadeOut("slow");
			}
		});
	});
	
	$("#backtotop").click(function(){
		$("html, body").animate({scrollTop: 0}, "slow");
	});
	
	$("#toTunics").click(function(){
		$("html, body").animate({scrollTop: $("#tunic-chunk").offset().top}, 2000);
	});
	
</script>
