

<div class="container">
	<div class="row">
  			
  		<div class="col-md-9">
  			
  			<h2><span class="center-block margin-center">2014 Collection</span></h2>
  			
  			<div id="tunic-chunk" class="collection-chunk">
  				<h2>Tunics</h2>
  			<% @tunics.each do |tunic| %>
  				<div class="row sw-articles">
  					<div class="col-md-6">
  						<%= link_to (image_tag tunic.imageUrl1, class: "img-responsive center-block image-inv", :alt => ""), controller: "welcome", action: "showitem", id: tunic %>
  					</div>
  					<div class="col-md-6">
  						<%= link_to (image_tag tunic.imageUrl2, class: "img-responsive center-block image-inv", :alt => ""), controller: "welcome", action: "showitem", id: tunic %>
  						<%= link_to 'more info..', controller: "welcome", action: "showitem", id: tunic %>
  					
  					</div>
  				</div>
  				
  			<% end %>	
  			</div>
  			
  			
  			
  		</div>
  		
  		<div class="col-md-3 hidden-sm">
  			
  			<div class="inventory-menu inv-hide">
				<ul class="list-unstyled">
					<li><a href="#" id="backtotop" class="fa fa-arrow-up">Back to Top</a></li>
					<li><a href="#" id="toTunics" class="fa fa-star">Tunics</a></li>
					<li class="sidemenuupperbar">
						
					</li>
					
	</ul>
	</div>
  </div>
  
  
	</div>
</div>

<script>
	
	$.fn.scrollBottom = function() { 
  	return $(document).height() - this.scrollTop() - this.height(); 
	};
	
	$("document").ready(function($){
		var nav = $('.inventory-menu');
		
		$(window).scroll(function(){
			if ($(this).scrollTop() > 400 && $(this).scrollBottom() > 50){
				nav.fadeIn('slow');
			} else {
				nav.fadeOut("slow");
			}
		});
	});
	
	$("#backtotop").click(function(){
		$("html, body").animate({scrollTop: 0}, "slow");
	});
	
	$("#toTunics").click(function(){
		$("html, body").animate({scrollTop: $("#tunic-chunk").offset().top}, 2000);
	});
	
</script>
