<!-- Features Wrapper -->
			<div class="container">

				<!-- Features -->
				<div class="row sw-articles">
					<div class="col-md-12">
						<%=image_tag "michelle_bw.jpg", class: "img-responsive center-block" %>
					</div>
				</div>
						
							
				<div class="row sw-articles">
					<div class="col-md-12">
						<article>
							<h2>Welcome to Stonewell Studio</h2>
							<p>Our silk textiles are designed and produced by hand in our studio. We mix custom colors
								using a non-toxic dye and thickeners made of tree sap or seaweed paste. The ground color
								and all of the designs are applied directly to the surface of the silk using a simple
								bamboo brush. When the work is complete, the dye is bonded to the silk fiber using a high
								heat steam chamber. The excess pigment is rinsed from the silk until the water runs clear.</p>
								
							<p>These vibrant silk textiles are then transformed into one-of-a-kind gowns, lingerie, kimono
								capes and scarves that are available in our workshop as well as online. Our made to measure
								garments are hand crafted using precise measurements, intuitive draping and couture sewing
								techniques.</p><br />
							
							
							
							
							
							
						</article>						
					</div>
					
				</div>
				
				<div class="row sw-articles">
					
						
							<div class="col-md-4">

								<section class="main-body-article">
										<%= image_tag "IMG_0100xgrey.jpg", class: "img-responsive center-block image", :alt => "" %>
									</section>
							</div>
							<div class="col-md-4">

								<!-- Feature -->
									<section class="main-body-article">
										<%= image_tag "IMG_0113x.jpg", class: "img-responsive center-block image", :alt => "" %>
										</section>
									
							</div>
							<div class="col-md-4">

								<!-- Feature -->
									<section class="main-body-article">
										<%= image_tag "IMG_0118x.jpg", class: "img-responsive center-block image", :alt => "" %>
									</section>

							</div>
						</div>
						
				
			
			
				
			
</div>
