<div class="container">
	<div class="col-md-12 center-block margin-center">
		<br />
		<br />
		<p>Thank you for sending us a message. We will be in touch with you very shortly!</p>
		<br />
		<br />
	</div>
</div>
