@import "../../../vendor/assets/stylesheets/bootstrap/bootstrap.scss";

$stone-blue: #86D0CB;
$stone-orange: #EF4623;


/*********************************************************************************/
/* Basic                                                                         */
/*********************************************************************************/


h1,h2,h3,h4,h5,h6
  {
    font-family: 'Source Sans Pro';
    font-weight: 300;
    text-transform: uppercase;
    color: #777;
  }


p
  {
    font-family: 'Source Sans Pro';
    text-align: justify;
  }

a {
  color: $stone-blue;
  text-decoration: none;
    border-bottom: solid 0px #ddd;
    -moz-transition: color 0.25s ease-in-out, border-bottom-color 0.25s ease-in-out;
    -webkit-transition: color 0.25s ease-in-out, border-bottom-color 0.25s ease-in-out;
    -o-transition: color 0.25s ease-in-out, border-bottom-color 0.25s ease-in-out;
    -ms-transition: color 0.25s ease-in-out, border-bottom-color 0.25s ease-in-out;
    transition: color 0.25s ease-in-out, border-bottom-color 0.25s ease-in-out;
}


a:hover{
  color: #EF4623;
  border-bottom-color: rgba(255,255,255,0);
}

.margin-center{
  float: none;
  margin: 0 auto;
  text-align: center;
}

.header-logo{
  margin-top: 4em;
  margin-left: auto;
  margin-right: auto;
}

.logo-wrapper{

  padding-bottom: 4em;
  margin-bottom: 3em;
  border-bottom: solid 2px #F28B79;
    box-shadow: inset 0px -8px 0px 0px #fff, inset 0px -10px 0px 0px #F28B79;
}

.sw-articles {
  border-bottom: solid 2px #F28B79;
    box-shadow: inset 0px -8px 0px 0px #fff, inset 0px -10px 0px 0px #F28B79;
    margin-bottom: 2em;
}

.date
    {
      text-align: center;
      font-size: 0.85em;
      letter-spacing: 2px;
      padding: 0.25em 1em 0.25em 1em;
      margin: 1em 0 1em 0;
      background: #F28b79;
      color: #fff;
      font-weight: 400;
      text-transform: uppercase;
      border-radius: 4px;
      border: 0;
      box-shadow: 0.125em 0.175em 0 0 rgba(0,0,0,0.125);
    }

/*********************************************************************************/
/* BOOTSTRAP OVERRIDES                                                           */
/*********************************************************************************/

.btn{
  border: 1px solid $stone-orange;
  margin: 1em;
}

.btn-default:hover, .btn-default:focus{
  color: $stone-orange;
  background-color: #fff;
  border: 2px solid $stone-blue;
}

.btn-text{
  padding-left: 1em;
  font-size: 2em;
}

.navbar {
  margin: 0 auto;
  border: 0px;
  background: #fff;
  letter-spacing: 3px;
  
}


.navbar-nav > li > a{
  color: $stone-blue !important;
  text-transform: uppercase;
  border-bottom: none;
}

.navbar > ul > li > a:before
        {
          display: inline-block;
          background: #86D0CB;
          color: #FFF;
          width: 1.65em;
          height: 1.65em;
          border-radius: 1.65em;
          line-height: 1.65em;
          text-align: center;
          box-shadow: 0.125em 0.175em 0 0 rgba(0,0,0,0.125);
          margin-right: 0.75em;
          -moz-transition: color 0.25s ease-in-out, background 0.25s ease-in-out;
          -webkit-transition: color 0.25s ease-in-out, background 0.25s ease-in-out;
          -o-transition: color 0.25s ease-in-out, background 0.25s ease-in-out;
          -ms-transition: color 0.25s ease-in-out, background 0.25s ease-in-out;
          transition: color 0.25s ease-in-out, background 0.25s ease-in-out;
        }
        
.navbar > ul > li > a > span
        {
          -moz-transition: color 0.25s ease-in-out;
          -webkit-transition: color 0.25s ease-in-out;
          -o-transition: color 0.25s ease-in-out;
          -ms-transition: color 0.25s ease-in-out;
          transition: color 0.25s ease-in-out;
        }

.navbar-nav > li > a:hover{
  color: #EF4623 !important;
  border-bottom-color: rgba(255,255,255,0);
}

.navbar-collapse .collapse{
  text-align: center !important;
}


/*********************************************************************************/
/* Navbar                                                                         */
/*********************************************************************************/






/*********************************************************************************/
/* Index page                                                                        */
/*********************************************************************************/

.main-body-article{
  
  margin-bottom: 3em;
  
  h3{
    text-align: center;
  }
  
}
.image
    {
      margin-bottom: 2em;
      padding: 10px;
      border-radius: 6px;
      border: solid 6px #86D0CB !important;
      -moz-transition: opacity 0.25s ease-in-out;
      -webkit-transition: opacity 0.25s ease-in-out;
      -o-transition: opacity 0.25s ease-in-out;
      -ms-transition: opacity 0.25s ease-in-out;
      transition: opacity 0.25s ease-in-out;
    }


@media ( min-width: 768px ) { 
    .navbar > .container {
        text-align: center;
    }
    .navbar-header,.navbar-brand,.navbar .navbar-nav,.navbar .navbar-nav > li {
        float: none;
        display: inline-block;
    }
    .collapse.navbar-collapse {
        width: auto;
        clear: none;
    }
}
@media (min-width: 768px){
    .navbar-nav {
        position: absolute;
        top: 3em;
        left: 0;
        width: 100%;
        text-align: center;
    }
    .navbar-nav > ul > li {
        display: inline-block;
        padding-right: 2em;
    }
    
    .navbar-nav > ul > li:last-child
      {
        padding-right: 0;
      }
      
    .navbar-nav > ul > li > a
      {
        display: block;
      }
      
      .navbar-nav > ul > li > a > span
        {
          font-size: 0.85em;
          letter-spacing: 3px;
        }
    
    body, input, textarea{
      line-height: 1.65em;
      font-size: 13pt;
      font-weight: 300;
    }
    
} 



@media (max-width: 991px){
  .image{
    max-width: 80%;
    margin-left: auto !important;
    margin-right: auto !important;
  }
}

#footer-wrapper
  {
    position: relative;
    overflow: hidden;
    border-top: solid 8px #F28B79;
    background: #86D0CB;
    margin-bottom: 4px;
    
    
  }
  
    #footer-wrapper form input.text,
    #footer-wrapper form select,
    #footer-wrapper form textarea
    {
      background: #f7f7f7;
      margin-bottom: 4px;
    }
    
      #footer-wrapper form input.text:focus,
      #footer-wrapper form select:focus,
      #footer-wrapper form textarea:focus
      {
        background: #fff;
      }
    
    #footer-wrapper h2
    {
      text-align: center;
    }
    
    #footer-wrapper .fa:before {
      font-size: 1.5em;
    }

ul.icons
    {
    } 

      ul.icons > li
      {
        position: relative;
        padding: 2em 0 0 3em;
      }
      
      ul.icons > li:before
      {
        position: absolute;
        left: 0;
        top: 1.5em;
        display: block;
        background: #EF4623;
        color: #FFF;
        width: 1.65em;
        height: 1.65em;
        border-radius: 1.65em;
        line-height: 1.65em;
        text-align: center;
        box-shadow: 0.125em 0.175em 0 0 rgba(0,0,0,0.125);
      }

      ul.icons > li:first-child
      {
        padding-top: 0;
      }
      
        ul.icons > li:first-child:before
        {
          top: 0;
        }
        
        ul.icons li a{
          padding-left: 1em;
          color: $stone-orange;
        }
/* Forms */

    form
    {
    }
    
      form label
      {
        display: block;
      }
    
      form input.text,
      form select,
      form textarea
      {
        -webkit-appearance: none;
        display: block;
        border: 0;
        background: #e8e8e8;
        width: 100%;
        box-shadow: inset 2px 2px 0px 0px rgba(0,0,0,0.1);
        border-radius: 4px;
        padding: 0.75em 1em 0.75em 1em;
        -moz-transition: background-color 0.25s ease-in-out;
        -webkit-transition: background-color 0.25s ease-in-out;
        -o-transition: background-color 0.25s ease-in-out;
        -ms-transition: background-color 0.25s ease-in-out;
        transition: background-color 0.25s ease-in-out;
      }

        form input.text:hover,
        form select:hover,
        form textarea:hover
        {
        }

        form input.text:focus,
        form select:focus,
        form textarea:focus
        {
          background: #f0f0f0;
        }
        
        form textarea
        {
          min-height: 11em;
        }

        form .formerize-placeholder
        {
          color: #555 !important;
        }

        form ::-webkit-input-placeholder
        {
          color: #555 !important;
        }

        form :-moz-placeholder
        {
          color: #555 !important;
        }

        form ::-moz-placeholder
        {
          color: #555 !important;
        }

        form :-ms-input-placeholder
        {
          color: #555 !important;
        }

        form ::-moz-focus-inner
        {
          border: 0;
        }


    .fa:before
    {
      display:inline-block;
      font-family: FontAwesome;
      font-size: 2em;
      text-decoration: none;
      font-style: normal;
      font-weight: normal;
      line-height: 1;
      -webkit-font-smoothing:antialiased;
      -moz-osx-font-smoothing:grayscale;
    }

